<!-- MAIN DYNAMIC CARD CONTAINER -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">


            {{#each places}}

            <!-- Card {{@index}} -->

            <div class="card mx-auto hidden" data-set="{{@index}}" data-card="{{@index}}" style="width: 25rem;">

                <!-- Image -->

                <img class="card-img-top" src="http://heavytable.com/wp-content/uploads/2016/12/young-joni-oven.jpg" alt="Card image cap">
                <div class="card-body">

                    <!-- Name -->

                    <h5 class="card-title">{{name}}</h5>

                    <!-- Counter Data if applicable  -->

                    <h6 class="card-subtitle mb-2 text-muted">Popularity: {{popularity}}</h6>

                    <!-- Short Description NEEDS TO BE ADDED -->

                    <p class="card-text">{{address}}</p>

                    <!-- STAR RATING  -->
                    <p class="card-text">Distance: {{distance}}

                        <p class="card-text">Rating: {{googleRating}} {{!-- Run a custom HBARS function to populate these stars --}} {{!--
                            <span
                                class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span> --}}
                        </p>

                        <!-- BACK || SELECT || FORWARD BUTTONS  -->

                        <div class="d-flex justify-content-between">

                            <button class="btn switch btn-danger" data-name="-">
                                <span class="fa fa-arrow-left"></span>
                            </button>

                            <div>

                                <!-- ENSURE ALL META-DATA IS ADDED TO 'SELECT' BUTTON -->

                                <button class="btn-lg select btn-success" data-activity-type="restuarant" data-name="{{name}}" data-zipcode="55411" data-api-type="google"
                                    data-api-id="{{apiId}}">
                                    <span class="fa fa-heart"></span>
                                    <span class="fa fa-heart"></span>
                                    <span class="fa fa-heart"></span>
                                </button>

                            </div>

                            <button class="btn switch btn-primary" data-name="+">
                                <span class="fa fa-arrow-right"></span>
                            </button>
                        </div>
                </div>
            </div>
            {{/each}}



        </div>
    </div>
</div>
{{!-- , results[0].name, results[0].open, results[0].googleRating, results[0].pricing, results[0].address, results[0].popularity
--}}