<!-- MAIN DYNAMIC CARD CONTAINER -->
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-7 ">

            {{!-- HBars Object Reference --}} {{!--
            <ul>
                {{#each place }}
                <p>Index: {{@index}}:</p>
                <p>Name: {{name}}</p>
                <p>apiId: {{apiId}}</p>
                <p>Address: {{address}}</p>
                <p>Google Rating: {{googleRating}}</p>
                <p>Open: {{open}}</p>
                <p>Pricing: {{pricing}}</p>
                <p>Popularity: {{popularity}}</p>
                <p>Image: {{image}}</p>
                {{/each}}
            </ul> --}} {{#each places}}
            <!-- Card {{@index}} -->

            <div class="card mx-auto hidden" data-set="{{@index}}" data-card="{{@index}}">

                <!-- Image -->
            
                <img class="card-img-top img-responsive" src="https://maps.googleapis.com/maps/api/streetview?size=640x640&location={{coordinates}}&fov=90&pitch=0&key=AIzaSyAyh5MynIPujqCRbusMEDkp7a_oqGEw5mU"
                    alt="{{name}}">
                <div class="card-body">

                    <!-- Name -->

                    <h4 class="card-title text-center">{{name}}</h4>

                    <!-- Counter Data if applicable  -->

                    <h6 class="card-text  text-center mt-3">Open? {{open}}</h6>
                    <h6 class="card-text text-center">Pricing {{pricing}}</h6>


                    <h6 class="card-text text-center">Popularity: {{popularity}}</h6>

                    <!-- Short Description NEEDS TO BE ADDED -->

                    {{!--
                    <p class="card-text text-center">{{address}}</p> --}}

                    <!-- STAR RATING  -->
                    <h6 class="card-text text-center ">Distance: {{distance}} </h6>

                    <h6 class="card-text text-center ">Rating: {{googleRating}} {{!-- Run a custom HBARS function to populate these stars --}} {{!--
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span> --}}
                    </h6>
                    <hr>

                    <!-- BACK || SELECT || FORWARD BUTTONS  -->

                    <div class="d-flex justify-content-between">

                        <button class="switch btn fa-nav fa fa-arrow-left fa-2x pt-5" data-name="-"></button>


                        <div>
                            <button class="btn select fa-nav fa fa-heart fa-spin fa-4x" data-api-type="google" data-api-id="{{apiId}}" data-activity-type="restuarant"
                                data-name="{{name}}" data-zipcode="{{zipcode}}"></button>
                        </div>


                        <button class="btn switch fa-nav fa fa-arrow-right fa-2x pt-5" data-name="+"></button>
                    </div>
                </div>
            </div>

            {{/each}}

        </div>
    </div>
</div>